@import "tailwindcss";

@theme {
  --color-primary: #E96013;
  --color-secondary: #001A3E;
  --color-white: #ffffff;
}

body {
  background-color: #f9fafb;
  color: var(--color-secondary);
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}
